<h1>Hola mundo {{title}}</h1>
<p>{{1 + 2}}</p>

<input type="text" [(ngModel)]="title" />
<br><br>

<!-- with *ngIf and else -->
<h2>Con *ngIF</h2>
<div *ngIf="title == 'Yuri' ; else noYuri">
    Confirmado es YURI!
</div>

<ng-template #noYuri>
    No, no es YURI
</ng-template>

<!-- with ngSwitch -->
<h2>Con ngSwitch</h2>
<section [ngSwitch]="title">
    <div  *ngSwitchCase="'Yuri'">
        Confirmado es YURI!
    </div>

    <div  *ngSwitchCase="'Carlos'">
        Confirmado es CARLOS!
    </div>
    
    <div *ngSwitchDefault>
        No, no es YURI
    </div>
</section>

<!-- with *ngFor -->   
<h2>Con *ngFor</h2>
<input type="text" [(ngModel)]="animal" />
<button (click)="addAnimal()">Agregar animal</button>
<ul>
    <li *ngFor="let a of animales; index as i">
        {{a}}
        <button (click)="removeAnimal(i)">Eliminar</button>
    </li>
</ul>

<hr>
<div *ngFor="let ex of experiences">
    <app-experience [experience]="ex"></app-experience>
</div>
